
$imgWidth:1000px;
*{
  margin:0;
  padding: 0;
}
.img-fadeInLeft{
  animation-name: fadeInLeft;
  animation-duration: 2s;
  @keyframes fadeInLeft {
    0% {
      left: $imgWidth
    }

    100% {
      left: 0
    }
  }
}
.img-fadeOutLeft {
  animation-name: fadeOutLeft;
  animation-duration: 2s;
  @keyframes fadeOutLeft {
    0% {
      left: $imgWidth
    }

    100% {
      left: 0
    }
  }

}

.img-fadeInRight{
  animation-name: fadeInRight;
  animation-duration: 2s;
  @keyframes fadeInRight {
    0% {
      left: $imgWidth*-1
    }

    100% {
      left: 0
    }
  }
}
.img-fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 2s;
  @keyframes fadeOutRight {
    0% {
      left: $imgWidth*-1
    }

    100% {
      left: 0
    }
  }

}

.img-fadeOutLast {
  animation-name: fadeOutLast;
  animation-duration: 2s;
  @keyframes fadeOutLast {
    0% {
      left: 0
    }

    100% {
      left: $imgWidth
    }
  }

}

.img-fadeInLast {
  animation-name: fadeInLast;
  animation-duration: 2s;
  @keyframes fadeInLast {
    0% {
      left: 0
    }

    100% {
      left: $imgWidth
    }
  }

}






body{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 20%;

    .leftBtn{
      position: absolute;
      left: 10%;
      z-index: 99999;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      font-size: x-large;
      background-color: rgba(255,255,255,0.3);
      color:white;
      border: black 1px dashed;
      &:hover{
        transform: scale(1.2);
        background-color: rgba(255,255,255,0.7);
        color: black;
      }

    }

    .rightBtn{
      position: absolute;
      right: 10%;

      z-index: 99999;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      font-size: x-large;
      background-color: rgba(255,255,255,0.3);
      color:white;

      &:hover{
        transform: scale(1.2);
        background-color: rgba(255,255,255,0.7);
        color: black;
      }

    }




  .imgContainer{
     width: $imgWidth;
     position: relative;
     display: flex;

     overflow: hidden;

     img{
       width:100%;
       position: relative;



       }
     }



  .btnContainer{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;


    button{
      display: block;
      border: none;
      margin: 4px;
      font-size: large;
      transition: 1s;
      &:hover{
        transform: scale(1.1);
      }

    }

    .start{
      display: none;
      position: absolute;
      left:0;
      top:0;
      &:hover {
        color: red;
      }
      &:active{
        transform: scale(1.1);
      }

    }

    .stop{
      position: absolute;
      left:0;
      top:0;
      &:hover {
        color: red;
      }
      &:active{
        transform: scale(1.1);
      }
    }
  }
}
